In [39]:
import os
import pandas as pd

In [40]:
os.getcwd()

'C:\\Users\\Tigmanshu\\Downloads\\TOPOS Assignment'

In [41]:
cd C:/Users/Tigmanshu/Downloads/TOPOS Assignment

C:\Users\Tigmanshu\Downloads\TOPOS Assignment

In [42]:
raw_dataset=pd.read_csv('DOB_Permit_Issuance.csv')
print("import complete!!")

C:\Users\Tigmanshu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,8,9,10,15,25,31,33,34,35,36,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

import complete!!

In [43]:
#raw_dataset["Non-Profit"].value_counts()
#raw_dataset.isnull().sum()
#raw_dataset.loc[raw_dataset['Job #'] == 322064289]

In [44]:
raw_dataset['Special District 1'] = raw_dataset['Special District 1'].apply(lambda x: 0 if  pd.isnull(x) else 1)
raw_dataset['Special District 2'] = raw_dataset['Special District 2'].apply(lambda x: 0 if  pd.isnull(x) else 1)
raw_dataset['Work Type'] = raw_dataset['Work Type'].apply(lambda x: 1 if  pd.isnull(x) else 1)
raw_dataset['Special District'] = raw_dataset['Special District 1'] | raw_dataset['Special District 2']
raw_dataset['Residential'] = raw_dataset['Residential'].apply(lambda x: 0 if  pd.isnull(x) else 1)
raw_dataset['Self_Cert'] = raw_dataset['Self_Cert'].apply(lambda x: 0 if (pd.isnull(x) or x in ['N','R','X','J'])  else 1)
raw_dataset["Permit Status"].fillna("ISSUED", inplace = True) 
raw_dataset['Bldg Type'].fillna(2.0, inplace=True)
raw_dataset['LATITUDE'].fillna((raw_dataset['LATITUDE'].mean()), inplace=True)
raw_dataset['LONGITUDE'].fillna((raw_dataset['LONGITUDE'].mean()), inplace=True)
raw_dataset['CENSUS_TRACT'].fillna((raw_dataset['CENSUS_TRACT'].mean()), inplace=True)
raw_dataset['COUNCIL_DISTRICT'].fillna((raw_dataset['COUNCIL_DISTRICT'].median()), inplace=True)
raw_dataset['Non-Profit'].fillna('N', inplace=True)
print("conversion done")
#raw_dataset.isnull().sum()

conversion done

In [45]:
#raw_dataset["Permit Subtype"].value_counts()
#raw_dataset.groupby(["Work Type", "Permit Type"]).size()

In [46]:
essential_cols_dataset=raw_dataset.drop(["Street Name","Permit Subtype","Community Board","Special District 1","Special District 2","House #","Street Name","Block","Lot","Zip Code","Site Fill","Oil Gas","Job doc. #","Permittee's First Name","Permittee's Last Name","Permittee's Business Name","Permittee's Phone #","Permittee's License Type","Permittee's Other Title","Act as Superintendent","HIC License","Site Safety Mgr's First Name","Site Safety Mgr's Last Name","Site Safety Mgr Business Name","Superintendent First & Last Name","Superintendent Business Name","Owner's First Name","Owner's Last Name","Owner's House #","Owner's House Street Name","Owner’s House City","Owner’s House State","Owner’s House Zip Code","PERMIT_SI_NO","DOBRunDate","NTA_NAME"],axis=1)
print("coloumns removed!")
#essential_cols_dataset.shape
list(essential_cols_dataset.columns.values)
essential_cols_dataset.isnull().sum()

coloumns removed!

BOROUGH                       0
Bin #                         0
Job #                         0
Job Type                      0
Self_Cert                     0
Bldg Type                     0
Residential                   0
Work Type                     0
Permit Status                 0
Filing Status                 0
Permit Type                   1
Permit Sequence #             0
Filing Date                   1
Issuance Date             19958
Expiration Date           11133
Job Start Date               30
Permittee's License #    238692
Owner's Business Type    164589
Non-Profit                    0
Owner's Phone #           49040
LATITUDE                      0
LONGITUDE                     0
COUNCIL_DISTRICT              0
CENSUS_TRACT                  0
Special District              0
dtype: int64

In [47]:
essential_cols_dataset = essential_cols_dataset.dropna(subset=["Permittee's License #"])
essential_cols_dataset = essential_cols_dataset.dropna(subset=["Owner's Business Type"])
essential_cols_dataset = essential_cols_dataset.dropna(subset=["Owner's Phone #"])
essential_cols_dataset = essential_cols_dataset.dropna(subset=["Issuance Date"])
essential_cols_dataset = essential_cols_dataset.dropna(subset=["Expiration Date"])
essential_cols_dataset = essential_cols_dataset.dropna(subset=["Permit Type"])
essential_cols_dataset = essential_cols_dataset.dropna(subset=["Filing Date"])
essential_cols_dataset = essential_cols_dataset.dropna(subset=["Job Start Date"])

essential_cols_dataset.shape

(3081258, 25)

In [48]:
#essential_cols_dataset.isnull().sum()

In [49]:
aggregation_functions = {'BOROUGH': 'first', 'Bin #': 'first', 'Job #': 'first','Job Type': 'first','Self_Cert': 'first','Bldg Type': 'first','Residential': 'first','Work Type': 'sum','Permit Status': 'last','Filing Status': 'first','Permit Type': 'first','Permit Sequence #': 'first','Filing Date': 'first','Issuance Date': 'first','Expiration Date': 'first','Job Start Date': 'first',"Permittee's License #": 'first',"Owner's Business Type": 'first','Non-Profit': 'first',"Owner's Phone #": 'first',"LATITUDE": 'first',"LONGITUDE": 'first',"COUNCIL_DISTRICT": 'first',"CENSUS_TRACT": 'first',"Special District": 'first'}
df_new = essential_cols_dataset.groupby(essential_cols_dataset['Job #']).aggregate(aggregation_functions)
print("aggregation complete")

aggregation complete

In [50]:
df_new.shape

(1403473, 25)

In [51]:
job_raw_dataset=pd.read_csv('DOB_Job_Application_Filings.csv')
print("import complete for job dataset!!")

C:\Users\Tigmanshu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,6,13,14,21,38,59,60,68,78,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

import complete for job dataset!!

In [52]:
#raw_dataset.loc[raw_dataset['Job #'] == 420932824]

In [53]:
#job_raw_dataset.loc[job_raw_dataset['Job #'] == 420932824]

In [54]:
#list(job_raw_dataset.columns.values)

In [55]:
job_raw_dataset=job_raw_dataset[["Job #","JOB_S1_NO","DOBRunDate","Doc #","City Owned","Plumbing","Mechanical","Boiler","Fuel Burning","Fuel Storage","Standpipe","Sprinkler","Fire Alarm","Equipment","Fire Suppression","Curb Cut","Other","Professional Cert","Initial Cost","Total Est. Fee"]]

In [56]:
#job_raw_dataset.shape
list(job_raw_dataset.columns.values)

['Job #',
 'JOB_S1_NO',
 'DOBRunDate',
 'Doc #',
 'City Owned',
 'Plumbing',
 'Mechanical',
 'Boiler',
 'Fuel Burning',
 'Fuel Storage',
 'Standpipe',
 'Sprinkler',
 'Fire Alarm',
 'Equipment',
 'Fire Suppression',
 'Curb Cut',
 'Other',
 'Professional Cert',
 'Initial Cost',
 'Total Est. Fee']

In [57]:
#job_raw_dataset.isnull().sum()

In [58]:
job_raw_dataset['City Owned'] = job_raw_dataset['City Owned'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Plumbing'] = job_raw_dataset['Plumbing'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Mechanical'] = job_raw_dataset['Mechanical'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Boiler'] = job_raw_dataset['Boiler'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Fuel Burning'] = job_raw_dataset['Fuel Burning'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Fuel Storage'] = job_raw_dataset['Fuel Storage'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Standpipe'] = job_raw_dataset['Sprinkler'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Sprinkler'] = job_raw_dataset['Plumbing'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Fire Alarm'] = job_raw_dataset['Fire Alarm'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Equipment'] = job_raw_dataset['Equipment'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Fire Suppression'] = job_raw_dataset['Fire Suppression'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Curb Cut'] = job_raw_dataset['Curb Cut'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Other'] = job_raw_dataset['Other'].apply(lambda x: 0 if  pd.isnull(x) else 1)
job_raw_dataset['Professional Cert'] = job_raw_dataset['Professional Cert'].apply(lambda x: 0 if  pd.isnull(x) else 1)

In [59]:
job_raw_dataset.isnull().sum()

Job #                0
JOB_S1_NO            0
DOBRunDate           0
Doc #                0
City Owned           0
Plumbing             0
Mechanical           0
Boiler               0
Fuel Burning         0
Fuel Storage         0
Standpipe            0
Sprinkler            0
Fire Alarm           0
Equipment            0
Fire Suppression     0
Curb Cut             0
Other                0
Professional Cert    0
Initial Cost         0
Total Est. Fee       0
dtype: int64

In [60]:
#job_raw_dataset["Job #"].isin(essential_cols_dataset["Job #"]).value_counts()

In [61]:

#job_raw_dataset.head

In [62]:
#job_raw_dataset.loc[job_raw_dataset['Job #'] == 122705000]
#job_raw_dataset["Job #"].value_counts()
aggregation_functions_job = {'Job #': 'first', 'JOB_S1_NO': 'first', 'DOBRunDate': 'first','Doc #': 'first','City Owned': 'first','Plumbing': 'first','Mechanical': 'first','Boiler': 'first','Fuel Burning': 'first','Fuel Storage': 'first','Standpipe': 'first','Sprinkler': 'first','Fire Alarm': 'first','Equipment': 'first','Fire Suppression': 'first','Curb Cut': 'first',"Other": 'first',"Professional Cert": 'first','Initial Cost': 'first',"Total Est. Fee": 'first'}
df_job_new = job_raw_dataset.groupby(job_raw_dataset['Job #']).aggregate(aggregation_functions_job)
print("aggregation completed for job dataset")

aggregation completed for job dataset

In [63]:
#df_job_new["Job #"].value_counts()
#df_job_new["Job #"].isin(df_new["Job #"]).value_counts()
df_new.shape

(1403473, 25)

In [64]:
merged_dataset=df_job_new.merge(df_new,how='inner' ,on='Job #')
print("datasets merged")

C:\Users\Tigmanshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'Job #' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

datasets merged

In [65]:
merged_dataset.isnull().sum()

Job #                    0
JOB_S1_NO                0
DOBRunDate               0
Doc #                    0
City Owned               0
Plumbing                 0
Mechanical               0
Boiler                   0
Fuel Burning             0
Fuel Storage             0
Standpipe                0
Sprinkler                0
Fire Alarm               0
Equipment                0
Fire Suppression         0
Curb Cut                 0
Other                    0
Professional Cert        0
Initial Cost             0
Total Est. Fee           0
BOROUGH                  0
Bin #                    0
Job Type                 0
Self_Cert                0
Bldg Type                0
Residential              0
Work Type                0
Permit Status            0
Filing Status            0
Permit Type              0
Permit Sequence #        0
Filing Date              0
Issuance Date            0
Expiration Date          0
Job Start Date           0
Permittee's License #    0
Owner's Business Type    0
Non-Profit               0
Owner's Phone #          0
LATITUDE                 0
LONGITUDE                0
COUNCIL_DISTRICT         0
CENSUS_TRACT             0
Special District         0
dtype: int64

In [66]:
merged_dataset.head(10)

,Job #,JOB_S1_NO,DOBRunDate,Doc #,City Owned,Plumbing,Mechanical,Boiler,Fuel Burning,Fuel Storage,...,Job Start Date,Permittee's License #,Owner's Business Type,Non-Profit,Owner's Phone #,LATITUDE,LONGITUDE,COUNCIL_DISTRICT,CENSUS_TRACT,Special District
0,100321046,35932,11/02/2018 12:00:00 AM,2,0,0,0,0,0,0,...,09/17/2004 12:00:00 AM,23947,PARTNERSHIP,N,2123820005,40.756753,-73.978509,4.0,96.0,1
1,100461778,54848,03/11/2019 12:00:00 AM,3,0,0,1,0,0,0,...,11/19/2002 12:00:00 AM,602595,PARTNERSHIP,N,2.12758e+09,40.714793,-74.009357,1.0,21.0,1
2,100497945,59765,03/11/2019 12:00:00 AM,2,0,1,0,0,0,0,...,03/13/2003 12:00:00 AM,37435,INDIVIDUAL,N,2124311800,40.761062,-73.994871,3.0,129.0,1
3,100664372,78526,11/02/2018 12:00:00 AM,2,0,1,0,0,0,0,...,09/18/2002 12:00:00 AM,26999,PARTNERSHIP,N,2127378850,40.770642,-73.952770,5.0,132.0,0
4,100714719,84708,11/02/2018 12:00:00 AM,1,0,0,0,0,0,0,...,09/11/2003 12:00:00 AM,499,OTHER,Y,7188533125,40.766555,-73.980419,4.0,137.0,0
5,101059907,129701,11/02/2018 12:00:00 AM,2,0,0,1,0,0,0,...,10/17/2000 12:00:00 AM,1373,CORPORATION,N,2127246100,40.790717,-73.978173,6.0,175.0,0
6,101313268,156746,11/02/2018 12:00:00 AM,1,0,1,1,0,0,0,...,02/28/2001 12:00:00 AM,1071,PARTNERSHIP,N,2129724865,40.756391,-73.978206,4.0,94.0,1
7,101384459,165665,11/02/2018 12:00:00 AM,3,0,0,0,0,0,0,...,06/06/2001 12:00:00 AM,3605,INDIVIDUAL,N,2126759148,40.734344,-74.006881,3.0,75.0,0
8,101387465,166054,11/02/2018 12:00:00 AM,2,0,1,1,0,0,0,...,07/20/2001 12:00:00 AM,3407,PARTNERSHIP,N,2127126000,40.745422,-73.992905,3.0,91.0,0
9,101439999,171443,11/02/2018 12:00:00 AM,2,0,0,1,0,0,0,...,10/23/2000 12:00:00 AM,1228,PARTNERSHIP,N,2125702400,40.778768,-73.949789,5.0,14602.0,0

In [67]:
merged_dataset=merged_dataset.drop(["DOBRunDate","Issuance Date","Expiration Date","Job Start Date"],axis=1)
merged_dataset.shape

(1110008, 40)

In [68]:
final_dataset=merged_dataset.drop(["JOB_S1_NO","Owner's Phone #","Permittee's License #"],axis=1)
final_dataset.shape

(1110008, 37)

In [69]:
list(final_dataset.columns.values)

['Job #',
 'Doc #',
 'City Owned',
 'Plumbing',
 'Mechanical',
 'Boiler',
 'Fuel Burning',
 'Fuel Storage',
 'Standpipe',
 'Sprinkler',
 'Fire Alarm',
 'Equipment',
 'Fire Suppression',
 'Curb Cut',
 'Other',
 'Professional Cert',
 'Initial Cost',
 'Total Est. Fee',
 'BOROUGH',
 'Bin #',
 'Job Type',
 'Self_Cert',
 'Bldg Type',
 'Residential',
 'Work Type',
 'Permit Status',
 'Filing Status',
 'Permit Type',
 'Permit Sequence #',
 'Filing Date',
 "Owner's Business Type",
 'Non-Profit',
 'LATITUDE',
 'LONGITUDE',
 'COUNCIL_DISTRICT',
 'CENSUS_TRACT',
 'Special District']

In [70]:
final_dataset.dtypes

Job #                      int64
Doc #                      int64
City Owned                 int64
Plumbing                   int64
Mechanical                 int64
Boiler                     int64
Fuel Burning               int64
Fuel Storage               int64
Standpipe                  int64
Sprinkler                  int64
Fire Alarm                 int64
Equipment                  int64
Fire Suppression           int64
Curb Cut                   int64
Other                      int64
Professional Cert          int64
Initial Cost              object
Total Est. Fee            object
BOROUGH                   object
Bin #                     object
Job Type                  object
Self_Cert                  int64
Bldg Type                float64
Residential                int64
Work Type                  int64
Permit Status             object
Filing Status             object
Permit Type               object
Permit Sequence #          int64
Filing Date               object
Owner's Business Type     object
Non-Profit                object
LATITUDE                 float64
LONGITUDE                float64
COUNCIL_DISTRICT         float64
CENSUS_TRACT             float64
Special District           int64
dtype: object

In [71]:
final_dataset=final_dataset.drop(["Job #","Doc #","Permit Sequence #","Filing Date"],axis=1)
final_dataset.shape

(1110008, 33)

In [72]:
#final_dataset["Total Est. Fee"].value_counts()

In [73]:
#final_dataset.loc[final_dataset['Permit Status'] == 'ISSUED']

In [74]:
final_dataset_wo_zero = final_dataset[final_dataset['Total Est. Fee'] != '$0.00']

In [75]:
final_dataset_wo_zero.shape

(1103664, 33)

In [76]:
final_dataset_wo_zero.dtypes

City Owned                 int64
Plumbing                   int64
Mechanical                 int64
Boiler                     int64
Fuel Burning               int64
Fuel Storage               int64
Standpipe                  int64
Sprinkler                  int64
Fire Alarm                 int64
Equipment                  int64
Fire Suppression           int64
Curb Cut                   int64
Other                      int64
Professional Cert          int64
Initial Cost              object
Total Est. Fee            object
BOROUGH                   object
Bin #                     object
Job Type                  object
Self_Cert                  int64
Bldg Type                float64
Residential                int64
Work Type                  int64
Permit Status             object
Filing Status             object
Permit Type               object
Owner's Business Type     object
Non-Profit                object
LATITUDE                 float64
LONGITUDE                float64
COUNCIL_DISTRICT         float64
CENSUS_TRACT             float64
Special District           int64
dtype: object

In [77]:
final_dataset_wo_zero=final_dataset_wo_zero.drop(["Bin #","Initial Cost"],axis=1)

In [78]:
#final_dataset_wo_zero["Permit Type"].value_counts()
#final_dataset_wo_zero.dtypes
final_dataset_wo_zero.isnull().sum()

City Owned               0
Plumbing                 0
Mechanical               0
Boiler                   0
Fuel Burning             0
Fuel Storage             0
Standpipe                0
Sprinkler                0
Fire Alarm               0
Equipment                0
Fire Suppression         0
Curb Cut                 0
Other                    0
Professional Cert        0
Total Est. Fee           0
BOROUGH                  0
Job Type                 0
Self_Cert                0
Bldg Type                0
Residential              0
Work Type                0
Permit Status            0
Filing Status            0
Permit Type              0
Owner's Business Type    0
Non-Profit               0
LATITUDE                 0
LONGITUDE                0
COUNCIL_DISTRICT         0
CENSUS_TRACT             0
Special District         0
dtype: int64

In [79]:
from sklearn import preprocessing

from sklearn.preprocessing import OneHotEncoder
#enc = OneHotEncoder(categorical_features=5,handle_unknown='ignore')
#ce_one_hot=ce.OneHotEncoder(cols=['BOROUGH','Job Type','Permit Status','Filing Status','Permit Type'])
#final_dataset_wo_zero[['BOROUGH','Job Type','Permit Status','Filing Status','Permit Type']]=ce_one_hot.fit_transform(final_dataset_wo_zero[['BOROUGH','Job Type','Permit Status','Filing Status','Permit Type']])
#enc.fit_transform(final_dataset_wo_zero[['BOROUGH','Job Type','Permit Status','Filing Status','Permit Type']])
#cat_features = ['BOROUGH','Job Type','Permit Status','Filing Status','Permit Type']

category_dummies=pd.get_dummies(final_dataset_wo_zero[['BOROUGH','Job Type','Permit Status','Filing Status','Permit Type']],prefix=['BOROUGH','Job Type','Permit Status','Filing Status','Permit Type'])
final_dataset_wo_zero=pd.concat([final_dataset_wo_zero,category_dummies],axis=1).drop(['BOROUGH','Job Type','Permit Status','Filing Status','Permit Type'],axis=1)

In [80]:
final_dataset_wo_zero.shape

(1103664, 49)

In [81]:
final_dataset_wo_zero.dtypes

City Owned                    int64
Plumbing                      int64
Mechanical                    int64
Boiler                        int64
Fuel Burning                  int64
Fuel Storage                  int64
Standpipe                     int64
Sprinkler                     int64
Fire Alarm                    int64
Equipment                     int64
Fire Suppression              int64
Curb Cut                      int64
Other                         int64
Professional Cert             int64
Total Est. Fee               object
Self_Cert                     int64
Bldg Type                   float64
Residential                   int64
Work Type                     int64
Owner's Business Type        object
Non-Profit                   object
LATITUDE                    float64
LONGITUDE                   float64
COUNCIL_DISTRICT            float64
CENSUS_TRACT                float64
Special District              int64
BOROUGH_BRONX                 uint8
BOROUGH_BROOKLYN              uint8
BOROUGH_MANHATTAN             uint8
BOROUGH_QUEENS                uint8
BOROUGH_STATEN ISLAND         uint8
Job Type_A1                   uint8
Job Type_A2                   uint8
Job Type_A3                   uint8
Job Type_DM                   uint8
Job Type_NB                   uint8
Permit Status_IN PROCESS      uint8
Permit Status_ISSUED          uint8
Permit Status_RE-ISSUED       uint8
Permit Status_REVOKED         uint8
Filing Status_INITIAL         uint8
Filing Status_RENEWAL         uint8
Permit Type_AL                uint8
Permit Type_DM                uint8
Permit Type_EQ                uint8
Permit Type_EW                uint8
Permit Type_FO                uint8
Permit Type_NB                uint8
Permit Type_PL                uint8
dtype: object

In [85]:
final_dataset_wo_zero["Non-Profit"].value_counts()

N    1036845
Y      66819
Name: Non-Profit, dtype: int64

In [86]:
final_dataset_wo_zero['Non-Profit'] = final_dataset_wo_zero['Non-Profit'].apply(lambda x: 0 if  x=='N' else 1)

In [87]:
final_dataset_wo_zero["Non-Profit"].value_counts()

0    1036845
1      66819
Name: Non-Profit, dtype: int64

In [88]:
final_dataset_wo_zero=final_dataset_wo_zero.drop(["Owner's Business Type"],axis=1)

In [89]:
final_dataset_wo_zero.dtypes

City Owned                    int64
Plumbing                      int64
Mechanical                    int64
Boiler                        int64
Fuel Burning                  int64
Fuel Storage                  int64
Standpipe                     int64
Sprinkler                     int64
Fire Alarm                    int64
Equipment                     int64
Fire Suppression              int64
Curb Cut                      int64
Other                         int64
Professional Cert             int64
Total Est. Fee               object
Self_Cert                     int64
Bldg Type                   float64
Residential                   int64
Work Type                     int64
Non-Profit                    int64
LATITUDE                    float64
LONGITUDE                   float64
COUNCIL_DISTRICT            float64
CENSUS_TRACT                float64
Special District              int64
BOROUGH_BRONX                 uint8
BOROUGH_BROOKLYN              uint8
BOROUGH_MANHATTAN             uint8
BOROUGH_QUEENS                uint8
BOROUGH_STATEN ISLAND         uint8
Job Type_A1                   uint8
Job Type_A2                   uint8
Job Type_A3                   uint8
Job Type_DM                   uint8
Job Type_NB                   uint8
Permit Status_IN PROCESS      uint8
Permit Status_ISSUED          uint8
Permit Status_RE-ISSUED       uint8
Permit Status_REVOKED         uint8
Filing Status_INITIAL         uint8
Filing Status_RENEWAL         uint8
Permit Type_AL                uint8
Permit Type_DM                uint8
Permit Type_EQ                uint8
Permit Type_EW                uint8
Permit Type_FO                uint8
Permit Type_NB                uint8
Permit Type_PL                uint8
dtype: object

In [93]:
import numpy as np
final_dataset_wo_zero['Total Est. Fee'] = final_dataset_wo_zero['Total Est. Fee'].apply(lambda x: x.replace('$','')).astype(np.float)

In [133]:
final_dataset_scaled_features=final_dataset_wo_zero.drop(["LATITUDE","LONGITUDE","CENSUS_TRACT"],axis=1)

In [95]:
#final_dataset_wo_zero.dtypes

In [134]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import  r2_score
X_train, X_test, Y_train, Y_test = train_test_split(final_dataset_scaled_features.loc[:, final_dataset_scaled_features.columns != 'Total Est. Fee'],final_dataset_scaled_features['Total Est. Fee'],random_state=0)

In [135]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(827748, 44)
(827748,)
(275916, 44)
(275916,)

In [136]:
rf = RandomForestRegressor(n_estimators = 200, random_state = 0)
rf.fit(X_train,Y_train)
Target_predicted= rf.predict(X_test)
#Target_predicted=Target_predicted.reshape(-1,1)

In [139]:
#print(Target_predicted)

In [137]:
from sklearn.metrics import mean_squared_error
# MSE=mean_squared_error(Y_test,Target_predicted)
# print("..",MSE)
#predictions = rf.predict(test_features)
errors = abs(Target_predicted - Y_test)
print('Mean Absolute Error:', round(np.mean(errors), 2))

Mean Absolute Error: 1255.67

In [138]:
#final_dataset_wo_zero.dtypes

In [146]:
from sklearn.neural_network import MLPRegressor
MLPmodel=MLPRegressor(solver='sgd',max_iter=5000, activation= 'tanh' , random_state=0, hidden_layer_sizes=[50,10] , alpha=0.5)
MLPmodel.fit(X_train,Y_train)
Target_predicted_NN= MLPmodel.predict(X_test)
errors_NN = abs(Target_predicted_NN - Y_test)
print('Mean Absolute Error NN', round(np.mean(errors_NN), 2))

Mean Absolute Error NN 1399.75

In [148]:
from sklearn.linear_model import Ridge 
from sklearn.linear_model import Lasso

In [157]:
RidgeModel=Ridge(alpha=0.1).fit(X_train, Y_train)
Target_predicted_RM= RidgeModel.predict(X_test)
errors_RM = abs(Target_predicted_RM - Y_test)
print('Mean Absolute Error RM', round(np.mean(errors_RM), 2))

Mean Absolute Error RM 1750.86

In [162]:
#final_dataset_wo_zero["Total Est. Fee"].value_counts()